.slide-out {
  transform: translateY(100%);
  transition: transform 0.2s ease-in-out;
}

.slide-in {
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}

.scrollable-content {
  height: 100%;
  overflow-y: auto;
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-container {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.marquee-text {
  animation: marquee 12s linear infinite;
}

